@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #232526;
  background: -webkit-linear-gradient(to right, #0e1f31, #232526);
  background: linear-gradient(to right, #0e1f31, #232526);
  color: #fafafa;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
