.imageContainer {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.image {
  width: 100%;
}
@media (min-width: 786px) {
  .image {
    width: 48%;
  }
}
@media (min-width: 990px) {
  .image {
    width: 32%;
  }
}
